@font-face{
  font-family:'digital-7';
  src: url('./fonts/digital-7.ttf');
 }

.countdown-container {
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: space-between;
  }
  
  .days-container,
  .hours-container,
  .minutes-container, 
  .seconds-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.311);
    border: 5px solid rgba(255, 255, 255, 0.735);
    width: 140px;
    height: 140px;
    border-radius: 99px;
  }
  
  .days,
  .hours,
  .minutes,
  .seconds {
    font-size: 2.5em; 
    font-family: 'digital-7';
    margin: 10px 0;
  }
  
  
  .days-label,
  .hours-label,
  .minutes-label,
  .seconds-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 0.7em;
  }
  
  @media (max-width: 800px) {
    
    .days-container,
    .hours-container,
    .minutes-container, 
    .seconds-container {
      font-size: 0.8em;
      width: 100px;
      height: 100px;
    }

    li{
        font-size: 0.8em; 
    }
  }

  body {
    background: url('./img/collage.png') no-repeat center center / cover;
    -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.516);

  }

  ul {
    counter-reset: index;  
    padding: 0;
    background-color: rgba(0, 0, 0, 0.311);
    border: 5px solid rgba(255, 255, 255, 0.735);
    border-radius: 25px;
  }
  
  /* List element */
  li {
    counter-increment: index; 
    display: flex;
    align-items: center;
    padding: 12px 10px;
    box-sizing: border-box;
    font-size: 1.5em; 
    color: white;
  }
  
  /* Element counter */
  li::before {
    content: counters(index, ".", decimal-leading-zero);
    font-size: 1.5rem;
    text-align: right;
    font-weight: bold;
    padding-right: 12px;
    font-variant-numeric: tabular-nums;
    align-self: flex-start;
    background-image: linear-gradient(to bottom, aquamarine, orangered);
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  /* Element separation */
  li + li {
    border-top: 1px solid rgba(255,255,255,0.2);
  }

  #download-button{
      cursor: pointer;
  }

  #clues > p {
      font-size: 2rem;
      color: white;
  }

  #fail {
    background-color: rgba(0, 0, 0, 0.311);
    border-radius: 25px;
    display: none;
  }

  #fail > span {
      color: rgb(227, 21, 21);
      -webkit-text-stroke: 0.1px rgb(227, 133, 133);
      font-size: 1.7rem;
  }